<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <property resource="log4jdbc.properties" />

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoder 默认配置为PatternLayoutEncoder -->
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="rollingAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${logback.logfile.path}/info.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${logback.logfile.path}/info-%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>15</maxHistory>
        </rollingPolicy>
        <encoder><!-- 必须指定，否则不会往文件输出内容 -->
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{5} - %msg%n</pattern>
        </encoder>
        <append>false</append>
        <prudent>false</prudent>
    </appender>

    <appender name="DB" class="ch.qos.logback.classic.db.DBAppender">
        <connectionSource class="ch.qos.logback.core.db.DriverManagerConnectionSource">
            <driverClass>${logback.db.driver}</driverClass>
            <url>${logback.db.url}</url>
            <user>${logback.db.username}</user>
            <password>${logback.db.password}</password>
        </connectionSource>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter"><!-- 打印warn日志 -->
            <level>WARN</level>
        </filter>
    </appender>

    <root level="INFO">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="rollingAppender" />
        <appender-ref ref="DB" />
    </root>

    <logger name="org.apache" level="ERROR" additivity="false">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="rollingAppender" />
        <appender-ref ref="DB" />
    </logger>

    <logger name="org.springframework" level="ERROR" additivity="false">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="rollingAppender" />
        <appender-ref ref="DB" />
    </logger>

</configuration>